* {
    font-family: Verdana, sans-serif;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    align-items: center;
}

.loading_spinner {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.swatch {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}